<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="website icon" type="png" href="/images/logo-mercado-liebre.svg" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>login-form</title>
</head>
<body>
    <header>
        <nav>
            <a href="./"><img src="/images/logo-mercado-liebre.svg" alt="" class="logo"></a>
        </nav>
    </header>
    <main class="container-register">
        <div class="form">
            <form action="../" method="GET">
                <h2 class=" title">Nuevo usuario</h2>
                <input class="controls" id="user" type="text" placeholder="Nombre de usuario">
                <input class="controls" id="pass" type="password" placeholder="Contraseña">
                <input class="controls" id="pass" type="password" placeholder="Confirmar contraseña">
                <input class="controls" id="mail" type="email" placeholder="E-mail">
                <input class="submit" type="submit">
            </form>
        </div>
    </main>
</body>
</html>
